<div class="info-important">
    <div class="important">Informations importantes</div>
    <div>Durée : {{this.duree}} jours</div>
    <p-divider></p-divider>
    <div>Tarif : {{this.prix}} €</div>
    <p-divider></p-divider>
    <div>Référence : {{this.reference}}</div>
    <p-divider></p-divider>
    <span class="p-buttonset">
        <button pButton type="button" label="Télécharger"></button>
        <button pButton type="button" label="Imprimer"></button>
        <button pButton type="button" label="Transmettre"></button>
    </span>
    <p-divider></p-divider>
</div>