
<form [formGroup]="formationForm" (ngSubmit)="onSubmit()" class="form">
    <h1>FORMULAIRE</h1>
      <div>
        <label>
            audience : <input type="text" formControlName="audience">
        </label>
    </div>
    <div>
        <label>
            contenu : <input type="text" formControlName="contenu">
        </label>
    </div>
    <div>
        <label>
            description : <input type="text" formControlName="description">
        </label>
    </div>
    <div>
        <label>
            lienTest : <input type="text" formControlName="lienTest">
        </label>
    </div>
    <div>
        <label>
            prerequis : <input type="text" formControlName="prerequis">
        </label>
    </div>
    <div>
        <label>
            reference : <input type="text" formControlName="reference">
        </label>
    </div>
    <div>
        <label>
            titre : <input type="text" formControlName="titre">
        </label>
    </div>

    <button type="submit">enregistrement</button>
</form>