<div class="sessions">
    <div class="titre">Sessions</div>
    <p-accordion [multiple]="true">
        <p-accordionTab header="Session 1" [selected]="false">
            <p>Date de début : {{session.dateDebut}}</p>
            <p>Lieu : {{session.lieu}}</p>
            <div class="inscription">
                <button pButton type="button" label="Inscription" ></button>
            </div>
        </p-accordionTab>
        <p-accordionTab header="Session 2" [selected]="false">
            <p>Date de début : </p>
            <p>Lieu : </p>
        </p-accordionTab>
        <p-accordionTab header="Session 3" [selected]="false">
            <p>Date de début : </p>
            <p>Lieu : </p>
        </p-accordionTab>
    </p-accordion>
</div>