.sessions{
    background-color: rgb(128, 178, 243);
    padding: 5px;
}

.titre {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

div {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    font-size: 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.inscription {
    display: flex;
    justify-content: center;
    margin: 10px;
}

a {
    display: flex;
    justify-content: center;
}