<div class="container">
  <div>
    <h1>Qui sommes nous?</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque recusandae
      doloribus nulla dolorum, vitae ducimus tempore quisquam, maxime
      repellendus ipsam tenetur deleniti, odit quo consequatur deserunt commodi
      labore culpa repellat Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Ducimus et ipsa, omnis, quae nihil pariatur iure cupiditate porro
      libero perspiciatis laudantium eum natus accusamus ea ad obcaecati modi,
      vel nesciunt? .
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque recusandae
      doloribus nulla dolorum, vitae ducimus tempore quisquam, maxime
      repellendus ipsam tenetur deleniti, odit quo consequatur deserunt commodi
      labore culpa repellat.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque recusandae
      doloribus nulla dolorum, vitae ducimus tempore quisquam, maxime
      repellendus ipsam tenetur deleniti, odit quo consequatur deserunt commodi
      labore culpa repellat.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque recusandae
      doloribus nulla dolorum, vitae ducimus tempore quisquam, maxime
      repellendus ipsam tenetur deleniti, odit quo consequatur deserunt commodi
      labore culpa repellat.
    </p>
  </div>
  <div>
    <img src="../../../assets/images/about1.png" alt="" />
  </div>
</div>
