<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<section class="app">
  <aside class="sidebar">
    <header>Dashboard</header>
    <nav class="sidebar-nav">
      <ul>
        <li>
          <a [routerLink]="['/dashboard/chart']"
            ><i class="fa fa-line-chart"></i> <span>Statistique</span></a
          >
        </li>
        <li>
          <a href="#"
            ><i class="fa fa-graduation-cap"></i>
            <span class="">Formation</span></a
          >
        </li>
        <li>
          <a href="#"
            ><i class="fa fa-id-card-o"></i> <span class="">Formateur</span></a
          >
        </li>
        <li>
          <a href="#"
            ><i class="fa fa-cubes"></i> <span class="">Domaine</span></a
          >
        </li>
        <li>
          <a href="#"
            ><i class="fa fa-group"></i> <span class="">Responsable</span></a
          >
        </li>
        <li>
          <a href="#"
            ><i class="fa fa-dashboard"></i>
            <span class=""> Logistique</span></a
          >
        </li>
        <li>
          <a href="#"
            ><i class="fa fa-cogs"></i> <span class="">Réglage</span></a
          >
        </li>
      </ul>
    </nav>
  </aside>
</section>
