<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<div class="container">
  <form class="form-signin" #f="ngForm" (ngSubmit)="signIn(f.value)">
    <i class="fa fa-user-circle-o"></i>
    <div *ngIf="invalidLogin" class="alert alert-danger">
      <p>email ou mot de passe non valid!</p>
    </div>
    <div class="form-group">
      <input
        class="form-control"
        type="email"
        name="email"
        ngModel
        placeholder="Adresse Email"
        minlength="5"
        maxlength="255"
        autofocus
        required
      />
    </div>
    <div class="form-group">
      <input
        class="form-control"
        type="password"
        name="password"
        ngModel
        placeholder="Mot de passe"
        maxlength="255"
        required
      />
    </div>
    <div class="form-group">
      <input type="checkbox" id="remember-me" />
      <label for="remember-me"> Se souvenir de moi</label>
    </div>
    <button class="btn" type="submit">Sign in</button>
    <p class="muted">Or Sign Up</p>
  </form>
</div>
