h1 {
  font-size: 5rem;
  color: #675f6e;
}

img {
  width: 100%;
  height: 185.469px;
  object-fit: cover;
}

.container {
  background-image: url("../../../assets/images/i.jpg");
  height: 80vh;
  background-size: cover;
  max-width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.form-container {
  max-width: 800px;
  text-align: center;
  width: 100%;
}

.input {
  border: 0;
  color: var(--color-headings);
  font-size: 2rem;
  font-weight: bold;
  outline: 0;
  padding: 1.5rem 5.5rem;
  background: transparent;
}

.input::placeholder {
  color: #d2d0db;
  opacity: 0.5;
}

.container__card {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 30rem;
  margin: 5px;
  cursor: pointer;
}

.card:hover {
  opacity: 0.7;
}

.card__body {
  margin-bottom: 2rem;
}
@media screen and (min-width: 1024px) {
  .input {
    color: rgb(250, 226, 226);
  }
  h1 {
    font-size: 5rem;
    color: #d2d0db;
  }
  .container__card {
    display: flex;
    justify-content: space-around;
  }
}
