<div class="container">
  <form id="search" class="form-container">
    <h1>Trouvez votre formation en salle ou à distance</h1>
    <div class="input-group">
      <input type="text" class="input" placeholder="Chercher une formation" />
      <span class="icon-container">
        <svg class="icon">
          <use xlink:href="../../../assets/images/sprite.svg#search"></use>
        </svg>
      </span>
    </div>
  </form>
</div>
<div class="container__card">
  <div class="card card--secondary">
    <header class="card__header">Informatique</header>
    <div class="card__body">
      <img src="../../../assets/images/domaine/informatique.jpg" alt="" />
    </div>
  </div>
  <div class="card card--secondary">
    <header class="card__header">Management</header>
    <div class="card__body">
      <img src="../../../assets/images/domaine/management.jpg" alt="" />
    </div>
  </div>
  <div class="card card--secondary">
    <header class="card__header">Comptabilité</header>
    <div class="card__body">
      <img src="../../../assets/images/domaine/comptabilite.jpg" alt="" />
    </div>
  </div>
</div>
