<div class="infos">
  <p-panel header="Description" styleClass="my-panel">
    <p>{{ description }}</p>
  </p-panel>
  <p-panel header="Public" styleClass="my-panel">
    <p>{{ audience }}</p>
  </p-panel>
  <p-panel header="Pré-requis" styleClass="my-panel">
    <p>{{ prerequis }}</p>
  </p-panel>
  <p-panel header="Contenu" styleClass="my-panel">
    <p>{{ contenu }}</p>
  </p-panel>
</div>

<!--
<p-accordion [multiple]="true">
    <p-accordionTab header="Public" [selected]="true">
    </p-accordionTab>
    <p-accordionTab header="Pré-requis" [selected]="true">
    </p-accordionTab>
    <p-accordionTab header="Contenu" [selected]="true">
    </p-accordionTab>
</p-accordion>-->
