<div class="formation">
    <div class="titre">
        <h1>{{formation.titre}}</h1>
    </div>
    <div class="contenu-formation">
        <div class="description-formation">
            <app-description-formation [description]="formation.description" [contenu]="formation.contenu"
                [audience]="formation.audience" [prerequis]="formation.prerequis">
            </app-description-formation>
        </div>
        <div class="important-info">
            <app-important-informations-formation [formation]="formation"></app-important-informations-formation>
            <app-sessions-of-formation [sessions]="formation.sessions"></app-sessions-of-formation>
        </div>
    </div>
</div>